In [1]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('./Data/games.csv')
df.columns = ['ID', 'Name', 'Rating']
df.set_index('ID', inplace=True)
df = df.round(2)

In [26]:
df

                                         Name  Rating
ID
2                     Thief: The Dark Project   86.30
3                       Thief: Deadly Shadows   82.53
4                                       Thief   69.78
5                               Baldur's Gate   86.81
6            Baldur's Gate II: Shadows of Amn   89.13
...                                       ...     ...
1197      Crash Bandicoot: The Huge Adventure   68.69
1198             Crash Bandicoot 2: N-Tranced   73.71
1199  Crash Bandicoot Purple: Ripto's Rampage   56.94
1200                       Tales of Phantasia   86.67
1201                         Tales of Destiny   82.96

[999 rows x 2 columns]

In [28]:
df.isnull().sum()

Name      0
Rating    0
dtype: int64

In [30]:
df1 = pd.read_csv('./Data/games1.csv')
df1.columns = ['ID', 'Cover', 'Category']
df1.set_index('ID', inplace=True)
df1 = df1.round(2)

In [34]:
df1

       Cover  Category
ID
2      96746         0
3     129190         0
4      96744         0
5      93899         0
6      90896         0
...      ...       ...
1011   94379         0
1012  118574         0
1013   84601         0
1014   84677         0
1015   78812         0

[999 rows x 2 columns]