In [1]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('./Data/games.csv')
df.columns = ['ID', 'Name', 'Rating']
df.set_index('ID', inplace=True)

In [20]:
df

                                         Name     Rating
ID
2                     Thief: The Dark Project  86.300971
3                       Thief: Deadly Shadows  82.529350
4                                       Thief  69.783356
5                               Baldur's Gate  86.813896
6            Baldur's Gate II: Shadows of Amn  89.131339
...                                       ...        ...
1197      Crash Bandicoot: The Huge Adventure  68.685021
1198             Crash Bandicoot 2: N-Tranced  73.711998
1199  Crash Bandicoot Purple: Ripto's Rampage  56.936446
1200                       Tales of Phantasia  86.669025
1201                         Tales of Destiny  82.961720

[999 rows x 2 columns]